.expense{
    padding: 1rem;
    margin: 2rem auto;    
    width: 50rem;
    max-width: 95%;
    /* background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%); */
    background-color: #09384b;
}