.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 85%;
  width: 55%;
  border: 1px solid #313131;
  border-radius: 12px;
  background-color: #0c455c;
  /* background-color: hsl(208, 52%, 57%)  ; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__fill {
  background: linear-gradient(to bottom, #095fab 10%, #25abe8 21%, #57d75b 95%);
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 15px;
  color: #25abe8;
  text-align: center;
}
