.new-expense {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  color: #01173c;
  padding: 1rem;
  margin: -3rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 1.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #042b4e;
  background-image: linear-gradient(to left, #095fab 0%, #25abe8 100%);
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-image: linear-gradient(to right, #095fab 0%, #25abe8 100%);
  border-color: #095fab;
}

.new-expense button.alternative {
  color: #095fab;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
